 <div class='container blog-post'>
    <div>
        <div class=article-snippet-heading>
            <h3>{{post.data.title}}</h3>
            <h5>{{post.date | postDate}}</h5>
            <h5>{{post.data.author}}</h5>
        </div>
        <p> {{post.data.description}}</p>
    </div>
    {# <div>
        <img src="{{post.data.image}}" alt="{{post.data.imgAlt}}">
    </div> #}
    <a class='btn article-snippet-btn' href="{{post.url}}">Continue Reading</a>
</div>