<footer>
            <div>
                <i class="fa-solid fa-m"></i> Rated Mature </br>Violence and some dark subject matter <br/>(No Smut).
            </div> 
            <div>
                <i class="fa-regular fa-registered"></i> All Rights Reserved
            </div>             
            <div>
                <h6 style='margin-bottom:0.5rem'>Website Designed & Created By:</h6>
                <p><a class='creator' target='_blank' href="https://sam-e-samgamgy.vercel.app/">Sam Elder</a></p>
            </div>
</footer>