<footer>
            <div>
                <i class="fa-solid fa-m"></i> Rated Mature </br>Violence and some dark subject matter <br/>(No Smut).
            </div> 
            <div>
                <i class="fa-regular fa-registered"></i> All Rights Reserved
            </div>             
            <div>
                <h6>Website Designed & Created By:</h6>
                <p>Sam Elder</p>
            </div>
</footer>