<header>
            <nav>
                <ul>
                    <a href='/index.html'>
                        <li class="nav-btns {{selected1}}" id="about">
                            {# <img src="/assets/about.png" alt=""> #}
                            <img src="/assets/{{icon1}}" alt="">
                        </li>
                    </a>
                    <a href="/character/">
                        <li class="nav-btns {{selected2}}" id="chars">
                            {# <img src="/assets/characters.png" alt=""> #}
                            <img src="/assets/{{icon2}}" alt="">
                        </li>
                    </a>
                    <li>
                        <img class='logo' src="/assets/wrath-logo.png" alt="">
                    </li>
                    <a href='/extras/'>
                        <li class="nav-btns {{selected3}}" id="extras">
                            {# <img src="/assets/extras.png" alt=""> #}
                            <img src="/assets/{{icon3}}" alt="">
                        </li>
                    </a>
                    <a href="/contact/">
                        <li class="nav-btns {{selected4}}" id="contact">
                            {# <img src="/assets/contact.png" alt=""> #}
                            <img src="/assets/{{icon4}}" alt="">
                        </li>
                    </a>
                </ul>
                <div class="line"></div>
            </nav>
            <script> 
                const button = document.querySelectorAll('.nav-btns');
                console.log(button);
                for (let i=0; i < button.length; i++) {
                    button[i].addEventListener('click', function() {
                        var current = document.getElementsByClassName("active");
                        current[0].className = current[0].className.replace(" active", "");
                        this.className += " active";
                        console.log('click')
                    });
                }
            </script>
</header>