<header>
            <nav>
                <ul>
                    <li class="nav-btns" id="about"><img src="/assets/about.png" alt=""></li>
                    <li class="nav-btns" id="chars"><img src="/assets/characters.png" alt=""></li>
                    <li><img src="/assets/wrath-logo.png" alt=""></li>
                    <a href='/extras/'><li class="nav-btns" id="extras"><img src="/assets/extras.png" alt=""></li></a>
                    <li class="nav-btns" id="contact"><img src="/assets/contact.png" alt=""></li>
                </ul>
                <div class="line"></div>
            </nav>
</header>