---
title: Characters
icon1: about-split.png
icon2: characters.png
icon3: extras-split.png
icon4: contact-split.png
selected2: active
layout: 'base.njk'
--- 
        <section class='character-section'>
            <div class='background'></div>
            <div class='character-content'>
                <div class='character'>
                    <h2>Maggie Hunt</h2>
                    <img src="/assets/Maggie-Hunt.jpg" alt="">
                    <h4>Bio</h4>
                    <p>Maggie Hunt is a superhero. Okay, technically she’s a “costumed vigilante”—no superpowers, just a cape, a mask, an electrified bo staff, and a lot of stubborn determination. She never planned to take up amateur vigilantism. She was a basketball player—and a good one—on track to succeed her best friend as captain of the JV team at Sefton Polytechnic, the best school in the Fen. But when a costumed criminal in the pay of the Montagnese family severed her best friend’s spine with an ice pick, Maggie decided that vengeance sounded better than obligatory counseling. Putting together a team of fellow students—Simon Mallory, Ellie G, Ben Vang—Maggie became “Nightwrath” (or “Night-Wrath,” depending on who you ask), the masked guardian of the Fen and the scourge of organized crime in Marbrose City. She may not be a playboy millionaire trained by ninjas, but all things considered… well, things could be worse.</p>
                </div>
                <div class='character'>
                    <h2>Elinor “Ellie G” Gan
</h2>
                    <img src="/assets/Ellie.jpg" alt="">
                    <h4>Bio</h4>
                    <p>Ellie G is a little sketchy. She’d be the first to admit it. A digital artist and hacker who sometimes uses her powers for good, Ellie G is the voice in Nightwrath’s ear—her Oracle or Alfred, depending on the situation. When she isn’t cutting the power so Nightwrath can move unseen or hacking the police mainframe to look up mafia mugshots, Ellie is Maggie’s voice of reason, and her interface with the often fickle public. Unflappable and wise beyond her years, Ellie would be the perfect ally—if she wasn’t so determined to profit on Maggie’s image and run her own schemes on the side.</p>
                </div>
                <div class='character'>
                    <h2>Benedict Vang</h2>
                    <img src="/assets/Character-3.jpg" alt="">
                    <h4>Bio</h4>
                    <p>Benedict Vang has a lot going for him. He’s smart—smart enough to get into Sefton Polytechnic’s prestigious Math track without studying and maintain a B+ average without trying. He’s also tall, and good-looking, and funny—well, he thinks he’s funny. He knows he’s handsome, and doesn’t let anyone forget it. And if that wasn’t enough, he’s also a mixed martial arts prodigy. So when Maggie Hunt decided to become a superhero, she swallowed her pride and asked Benedict Vang to be her sparring partner. He may have a gigantic crush on her, or he might just like teasing her—either way, he knows exactly which buttons to push.
</p>
                </div>
                <div class='character'>
                    <h2>Simon Mallory</h2>
                    <img src="/assets/Character-4.jpg" alt="">
                    <h4>Bio</h4>
                    <p>Simon Mallory is a genius. Even the teachers in his upper-level engineering classes freely admit they have nothing to teach him. Yet despite being the golden boy of the Engineering track at Sefton Polytechnic, Simon is a loner. He eats by himself at lunch. He keeps other people at arm's length. As a person obviously hiding dark secrets, he was a natural choice for keeping Maggie’s secret identity as Nightwrath. As her armorer, he designs the weapons and gadgets that turn Maggie Hunt from a 15-year-old with anger issues to someone criminals fear. He also seems to stammer and flush even more than usual when she’s around, which Maggie hopes is a good sign.</p>
                </div>
                <div class='character'>
                    <h2>Ice Mane</h2>
                    <img src="/assets/Icemane.jpg" alt="">
                    <p></p>
                </div>
            </div>
        </section>
    