---
title: Characters
icon1: about-split.png
icon2: characters.png
icon3: extras-split.png
icon4: contact-split.png
selected2: active
layout: 'base.njk'
--- 
        <section class='character-section'>
            <div class='background'></div>
            <div class='character-content'>
                <div class='character'>
                    <h2>Maggie Hunt</h2>
                    <img src="/assets/Maggie-Hunt.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum optio, architecto ab veritatis molestias nostrum iure quasi ipsum quidem accusantium voluptatibus aliquam beatae qui cum fuga. Placeat sunt odio sequi?</p>
                </div>
                <div class='character'>
                    <h2>Ellie</h2>
                    <img src="/assets/Ellie.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum optio, architecto ab veritatis molestias nostrum iure quasi ipsum quidem accusantium voluptatibus aliquam beatae qui cum fuga. Placeat sunt odio sequi?</p>
                </div>
                <div class='character'>
                    <h2>Character 3</h2>
                    <img src="/assets/Character-3.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum optio, architecto ab veritatis molestias nostrum iure quasi ipsum quidem accusantium voluptatibus aliquam beatae qui cum fuga. Placeat sunt odio sequi?</p>
                </div>
                <div class='character'>
                    <h2>Character 4</h2>
                    <img src="/assets/Character-4.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum optio, architecto ab veritatis molestias nostrum iure quasi ipsum quidem accusantium voluptatibus aliquam beatae qui cum fuga. Placeat sunt odio sequi?</p>
                </div>
                <div class='character'>
                    <h2>Ice Mane</h2>
                    <img src="/assets/Icemane.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum optio, architecto ab veritatis molestias nostrum iure quasi ipsum quidem accusantium voluptatibus aliquam beatae qui cum fuga. Placeat sunt odio sequi?</p>
                </div>
            </div>
        </section>
    