---
title: Contact
icon1: about-split.png
icon2: characters-split.png
icon3: extras-split.png
icon4: contact.png
selected4: active
layout: 'base.njk'
--- 
        <section class='contact-section'>
            <div class='background'></div>
            <div class='contact container'>
                <h2> Contact the Author </h2>
                <form>
                    <div class='contact-inputs'>
                        <label>Name: </label>
                        <input required type="text">
                    </div>
                    <div class='contact-inputs'>
                        <label>Email: </label>
                        <input required type="text">
                    </div>
                    <div class='contact-text-area'>
                        <label>Message </label> <br/>
                        <textarea required name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class='btn contact-form-btn'> Send </div>
                </form>

            </div>
        </section>