---
title: Contact
icon1: about-split.png
icon2: characters-split.png
icon3: extras-split.png
icon4: contact.png
selected4: active
layout: 'base.njk'
--- 
        <section class='contact-section'>
            <div class='background'></div>
            <div class='contact container'>
                <h2> Contact the Author </h2>
                <form action="https://formsubmit.co/samelder925@gmail.com" method="POST">
                    {# honey pot #}
                    <input type="text" name='_honey' style="display: none;">
                    {# disable captcha #}
                    <input type="hidden" name="_captcha" value='false'>

                    <input type="hidden" name='_next' value='https://fearherwrath.netlify.app/contact/success.html'>

                    <div class='contact-inputs'>
                        <label>Name: </label>
                        <input required type="text" name='name 'id='name'>
                    </div>
                    <div class='contact-inputs'>
                        <label>Email: </label>
                        <input required type="email" name='email' id='email'>
                    </div>
                    <div class='contact-text-area'>
                        <label>Message </label> <br/>
                        <textarea required name="message" id="message" cols="30" rows="10"></textarea>
                    </div>
                    <button class='btn contact-form-btn' type='submit' onclick="sendContact();"> Send </button>
                </form>

            </div>
        </section>