---
title: Extras
icon1: about-split.png
icon2: characters-split.png
icon3: extras.png
icon4: contact-split.png
selected3: active
layout: 'base.njk'
--- 
        <section class='extras-section'>
            <div class='background'></div>
            <div class='extra-content'>
                
                    {%- for post in collections.post | reverse -%}
                       {% include 'article-snippet.njk' %}
                       {# {% console.log(collections.post)%} #}
                    {%- endfor %}
            </div>
        </section>
    

    
  