/* Base Style */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight:200;
    line-height: 1;
    letter-spacing: 0;
    color: white;
    margin:0;
    padding:0;
    position: relative;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {text-decoration: none;}

p {margin-top:0;}

ul {
    padding:0;
    margin:0;
    list-style:none;
}
img{
    width:100%;
    max-width:100%;
    vertical-align: middle;
    border-style: none;
}
.container { 
    margin-left:auto;
    margin-right:auto;
    width:100%;
    padding-right:1rem;
    padding-left:1rem;
}

/* ABOUT */
header{
    background-image: url(./assets/city-wide.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:10%;
}
nav {
    background: rgba(0, 0, 0, 0.63);
    padding:2rem 3rem;
    position: relative;

}
.nav-btns img { height:50px;}
.nav-btns {transition: all 0.3s ease;}
.nav-btns:hover {
    cursor: pointer;
    border-bottom: 5px solid rgb(97,6,153);
}
.active {border-bottom: 5px solid rgb(97,6,153);}
.logo { width:200px}
ul {
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
}
li {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 200;
}
li .logo { width:200px;}
.line {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height:4px;
    margin-top: 1rem;
    background: linear-gradient(90deg, rgba(205,159,63,1) 0%, rgba(255,189,50,1) 50%, rgba(205,159,63,1) 100%);
}
.about {
    background: rgb(0 0 0 / 85%);
    border: 10px solid rgb(217,217,217);
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}
.about .container {
    padding-right: 4rem;
    padding-left: 4rem;
}
.img-caption {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
}
section {position: relative;}
.novel-section {padding: 5rem 10%;}
.background  {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 120% 120%;
    background-image: url(./assets/geometric-shapes.jpg);
    animation: scroll 200s linear infinite;
    transition: scroll 4s ease-in-out;
    opacity:1;
    z-index: -1;
    overflow: hidden;
}
@keyframes scroll {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 200%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.img-wrapper {
    width:100%;
    margin-bottom: 5rem;
}
.novel-cover{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.novel-info{padding-bottom:3rem;}
.novel-info h1{
    color:rgb(205,159,63);
    font-weight: 200;
    text-align: left;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.novel-info h2{
    color:rgb(205,159,63);
    font-weight: 200;
    text-align: left;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.author-sub-title {
    color: rgb(122 32 178);
    font-size: 2rem;
    font-weight: 500;
}
html body .author{
    color: rgb(122 32 178);
    font-weight: 500;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}
.novel-info p {font-size: 1.3rem;}
.sub-text {font-size: 0.8rem;}
.sub-text i {margin-right:1rem;}
.fa-m{color: rgb(155, 2, 2);}
.button {
    width:100%;
    text-align: center;
    margin: 4rem auto;
}
.btn {
    font-size: 2rem;
    padding:1rem 2rem;
    border:3px solid rgba(205,159,63,1);
    background: rgba(74, 74, 74, 0.527);
    border-radius: 1px;
    color:rgb(205,159,63);
    cursor: pointer;
}
.btn:hover {background: rgba(74, 74, 74, 0.979);}
.featured {
    background: #000000e0;
    margin: 5rem 0;
    border: 10px solid rgb(216,216,216);
}
.featured h3 {
    font-size: 4rem;
    font-weight: 200;
    padding:1.2rem;
    margin: 1rem 0;
    color: rgba(205,159,63,1);
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000000ce;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer div {text-align: center;}

/* Blog Snippet*/
.featured .extra-content {border: none;}
.extra-content {
    background: #232323e8;
    width: 100%;
    height: auto;
    margin: 0rem 0%;
    border: 6px solid rgb(216,216,216);
}
.featured .extra-content{background: none;}
.blog-post {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5rem;
}
.blog-post:nth-child(odd){background: #28282863;}
.extras-section {padding: 5rem 10% 8rem;}
.blog-post h3 {
    font-size: 1.5rem;
    padding: 0;
}
.blog-post p {
    font-size: 1rem;
    font-weight: 300;
}
.article-snippet-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article-snippet-heading h3 {
    color: rgba(205,159,63,1);
    font-weight: 300;
}
.article-snippet-heading h5 {
    font-size: 1.2rem;
    font-weight: 300;
}
.article-snippet-btn{
    font-size: 1.4rem;
    width:175px;
}
.snippet-description{width:100%}

/* Article Page */
article {
    width: 100%;
    background: rgba(19, 19, 19, 0.918);
    padding: 2rem;
    border: 6px solid rgb(216,216,216);
    height: auto;
    position: relative;
}
.article-section {padding: 3rem 10% 10%;}
.article-content {
    margin-top: 2rem;
    padding-right:15%;
    padding-left: 15%;
    padding-bottom: 7rem;
    font-size: 1.2rem;
}
.article-head h1{
    font-size: 3rem;
    font-weight: 300;
    color: rgba(205,159,63,1);
}
.article-head h4{
    font-size: 1.5rem;
    font-weight: 300;
}
.article-head img{padding: 5% 10%;}
article a {
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2rem auto;
}

/* Contact Page */
.contact-section {
    padding: 3rem 10%;
    height: 880px;
}
.contact {
    text-align: center;
    background: #000000e0;
    width: max-content;
    padding: 2rem 10%;
    border: 6px solid rgba(205,159,63,1);
}
.contact-form-btn {
    width: 150px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.contact h2 {
    color: rgba(205,159,63,1);
    font-size: 3rem;
    font-weight: 200;
    margin-top: 1rem;
}
.contact-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 0;
}
.contact-inputs input {
    width: 260px;
    height: 2.5rem;
    font-size: 1.3rem;
    padding-left:1rem;
    border-radius: 5px;
}
.contact-text-area {
    font-size: 2rem;
}
textarea {
    font-size:1.2rem;
    resize: none;
    padding:1rem;
    border-radius: 5px;
    margin-top:1rem;
}

/* Character Page */
.character-section{
    padding:3rem 10%;
}
.character-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 6rem;

}
.character {
    width: 350px;
    background: #000000d1;
    padding: 1rem;
    border: 6px solid rgba(205,159,63,1);
}
.character img {
    width: 300px;
    max-height: 400px;
    border-radius: 5px;
    margin-bottom:1rem;
}
.character h2 {
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: 200;
    padding-bottom: 1rem;
    border-bottom: 6px solid rgb(97,6,153);
}

/* Media Queries */

@media (max-width: 2000px) {
    .background{background-size:50% 150%;}
}
@media (max-width: 1500px) {
    .background{background-size:60% 120%;}
    .about .container {
        padding-right:1rem;
        padding-left:1rem;
    }
    .btn {
        font-size: 1.3rem;
        padding:1rem 1rem;
        text-align: center;
    }
    .novel-section {padding:5rem 5%;}
}
@media (max-width: 1024px) {
    .article-section {padding: 3rem 2% 10%;}
    .article-head .flex-container{height: 100%;}
    .background{background-size:200% 150%;}
    .img-wrapper{margin-bottom: 0rem;}
    .about {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap:3rem;
        padding-bottom: 2rem;
    }
    .blog-post {gap:2rem;}
    .btn {
        font-size: 1rem;
        padding:1rem 1rem;
    }
    .article-snippet-btn{ text-align: center;}
}
@media (max-width:800px) {
    .article-head .flex-container{ flex-flow: column;}
    .article-head .flex-container h1, .article-head .flex-container h4 {
        text-align: center;
        margin:0.5rem;
    }
    article {padding:1rem 0;}
    .article-content{
        font-size: 1rem ;
        padding-left: 5%;
        padding-right: 5%;
    }
    .blog-post {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    nav{ padding: 1rem 0.5rem;}
    ul{gap:0.5rem;}
    .logo { display: none;}
    .contact-section{padding: 3rem 5%;}
    .contact-inputs {
        flex-flow:column;
        gap:1rem;
    }
    textarea { width: -webkit-fill-available;}
    .contact {
        width: auto;
        padding:2rem 5%;
    }
    .contact h2 {font-size: 2.5rem;}
    footer {
        position: relative;
        background-color: black;
        font-size: 0.7rem;
        gap: 1rem;
    }
}
@media (max-width: 425px) {
    .featured h3{font-size: 3rem;}
    .contact-inputs input { width: -webkit-fill-available;}
    .btn {
        font-size: 1rem;
        padding: 1rem 0;
    }
    article a {width: 150px;}
    .background{background-size:200% 150%;}
    .article-snippet-heading{gap:1rem;}
    .about{
        padding-top: 2rem;
        gap:0rem;
    }
    .about .container{
        padding-right:1rem;
        padding-left:1rem;
    }
    .novel-section{ padding:2rem 5%;}
    .novel-info h1{ font-size: 3rem;}
    .article-snippet-heading{
        flex-wrap: wrap;
        gap:0rem
    }
    .article-snippet-heading h5, .article-snippet-heading h3{ margin:0.6rem;}
}
@media ( max-width: 375px) {
    .background{ background-size: 500% 150%;}
    .featured h3{font-size: 2rem;}
    blog-post p{
        font-size: 0.85rem;
        margin-top: 1rem;
    }
}
@media (max-width:320px) {
    .novel-info p{font-size: 1rem;}
    .flex-container h3{font-size: 1rem;}
    .featured h3{font-size: 2rem;}
    .article-snippet-heading{
        flex-wrap: wrap;
        gap:0rem
    }
}
