---
title: Contact
icon1: about-split.png
icon2: characters-split.png
icon3: extras-split.png
icon4: contact.png
selected4: active
layout: 'base.njk'
--- 
        <section class='contact-section'>
            <div class='background'></div>
            <div class='contact container'>
                <h2> Success </h2>
                <div> Your form has been successfully sent to the author!</div>
                

            </div>
        </section>